.art {
    display: block;

    &:hover {

        .art__body_name {
            color: $purp;
        }
    }
    
    &__img {
        overflow: hidden;
        border-radius: 10px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__body {
        padding: 10px 0;

        &_name {
            font-size: 22px;
            line-height: 29px;
            display: block;
            margin-bottom: 15px;
            @include def-anim;

            
        }

        &_info {
            display: flex;
            align-items: center;

            &_item {
                margin: 0 10px;
                display: flex;
                align-items: center;

                &:first-child {
                    margin-left: 0;
                }

                &:last-child {
                    margin-right: 0;
                }

                &_icon {
                    width: 25px;
                    height: 25px;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;
                    margin-right: 5px;
                }

                &_value {
                    font-weight: 300;
                    font-size: 16px;
                    line-height: 16px;
                    color: #C1C1C1;
                }
            }

            
        }
    }
}

@media (max-width: 1000px) {

    .art {

        &__img {
            // height: 210px;
        }
    }
}

@media (max-width: 650px) {

    .art {
        

        &__img {
            // border-radius: 10px; 
            // overflow: hidden;
            // height: 286px;
        }
    }
}



@media (max-width: 450px) {

    .art {
        
        &__img {
            // height: 136px;
        }

        &__body {

            &_name {
                font-size: 16px;
                line-height: 20px;
            }

            &_info {

                &_item {
                    font-size: 16px;
                    line-height: 20px;

                    &:after {
                        top: -4px;
                    }
                }
            }
        }
    }
}