.btn-link {
    display: flex;
    align-items: center;

    &__text {
        font-weight: 400;
        font-size: 22px;
        line-height: 22px;
        color: $purp;
    }

    &__icon {
        width: 32px;
        height: 32px;
        background-image: url('../img/icons/link-arrow.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 25px 25px;
    }
}

@media (max-width: 650px) {

    .btn-link {
        &__text {
            font-size: 18px;
            line-height: 18px;
        }
        &__icon {
            width: 25px;
            height: 25px;
            background-size: 20px 20px;
        }
    }
}