.card {
    @include def-anim;
    border-radius: 10px;
    cursor: pointer;
    display: block !important;
    background: #FAFAFA;
    

    &:hover {
        background-color: #fff;
        border-radius: 10px 10px 0 0;
        box-shadow: 0px 8px 60px rgba(45, 74, 149, 0.2);

        .card__body_main {
            padding: 20px;
        }

        .card__body_ex {
            background-color: #fff;
            box-shadow: 0px 40px 40px 10px rgba(45, 74, 149, 0.2);
        }
    }


    &__img {
        // height: 294px;
        // width: 100%;
        overflow: hidden;
        border-radius: 10px 10px 0 0;
        background-color: #fff;

        img {
            width: 100%;
            height: 100%;
            display: flex;
            object-fit: contain;
        }
    }

    &__body {
        position: relative;

        &_main {
            padding: 20px 0;
            @include def-anim;

            .name {
                font-size: 22px;
                line-height: 22px;
                margin-bottom: 13px;
            }

            .values {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 20px;

                &__price {
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 18px;
                }

                &__cnt {
                    font-size: 18px;
                    line-height: 18px;
                    color: $red;
                }
            }

            .link {
                display: flex;
                align-items: center;
                
                div {
                    color: $blue;
                    @include def-anim;
                    font-size: 18px;
                    line-height: 18px;

                    &:hover {
                        color: $red;
                    }
                }
            }
        }

        &_ex {
            @include def-anim;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            transform: translateY(100%);
            // z-index: 1;
            background-color: #FAFAFA;
            border-radius: 0 0 10px 10px;
            overflow: hidden;
            height: 0;
            will-change: height;


            .head {
                font-weight: 700;
                font-size: 18px;
                line-height: 18px;
                color: $text;
                margin-bottom: 15px;
                padding: 0 20px;
            }

            .list {
                margin-bottom: 30px;
                padding: 0 20px;

                &__item {
                    margin-bottom: 10px;
                    font-size: 16px;
                    line-height: 16px;
                    color: #969696;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }

            .action {
                button {
                    width: 100%;
                    padding: 18px;
                    background-color: $red;
                    color: #fff;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 18px;
                    cursor: pointer;
                    @include def-anim;

                    &:hover {
                        background-color: $red-active;
                    }

                    &:active {
                        background-color: $red-active;
                    }
                }
            }
        }
    }
}


@media (max-width: 1000px) {

    .card {


        &:hover {
            background: #FAFAFA;
            border-radius: 10px;
            box-shadow: none;

            .card__body_main {
                padding: 20px 0;
            }

            .card__body_ex {
                display: none;
            }
        }
        &__img {
            // height: 210px;
        }

        &__body {
            
            &_main {

                .values {
                    margin-bottom: 10px;
                }

                
            }
        }
    }
}

@media (max-width: 750px) {

    .card {
        
        &__body {

            &_main {
                .values {
                    flex-wrap: wrap;
                    

                    &__price {
                        width: 100%;
                        margin-bottom: 13px;
                    }

                    &__cnt {
                        width: 100%;
                    }
                }
            }

            &_ex {
                display: none;
            }
        }
    }
}

@media (max-width: 650px) {

    .card {

        &:hover {

            .card__body_main {
                padding: 15px;
            }
        }

        &__img {
            border-radius: 10px; 
            overflow: hidden;
            // height: 286px;
        }

        &__body {
            &_main {
                padding: 15px 0;

                .name {
                    margin-bottom: 10px;
                }

                .values {
                    flex-wrap: wrap;

                    &__price {
                        width: 100%;
                        margin-bottom: 10px;
                    }

                    &__cnt {
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media (max-width: 450px) {

    .card {

        &__img {
            // height: 136px;
        }

        &__body {

            

            &_main {

                .name {
                    font-size: 16px;
                    line-height: 20px;
                }
            }
        }
    }
}