.fancybox__toolbar {
    // display: none;
    background: none;
    padding: 30px 50px;
}

@media (max-width: 550px) {
    .fancybox__toolbar {
        padding: 15px;

        .fancybox__button--close {
            width: 25px !important;
            height: 25px !important;

            svg {
                width: 100%;
                height: 100%;
            }
        }
    }
}

.fancybox__toolbar__items.fancybox__toolbar__items--left {
    display: none;
}

.fancybox__toolbar__items.fancybox__toolbar__items--right {

    .fancybox__button--zoom {
        display: none;
    }

    .fancybox__button--slideshow {
        display: none;
    }

    .fancybox__button--fullscreen {
        display: none;
    }

    .fancybox__button--thumbs {
        display: none;
    }

    .fancybox__button--close {
        background-color: transparent;

        width: 40px;
        height: 40px;
        
        svg {
            width: 100%;
            height: 100%;
            stroke: #000;

        }
    }
}



.fancybox__thumbs {
    display: none;
    
}

.carousel__button {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    background-color: $red;
    top: calc(50% - (35px / 4)) !important;
    transform: unset !important;
}

.fancybox__backdrop {
    background-color: #fff !important;
}

.fancybox__content {
    width: 100% !important;
    height: 100% !important;

    img {
        width: 100% !important;
        height: 100% !important;
        object-fit: cover;
    }
}