.article-notfound {

    &__in {
        padding: 30px 0;
    }

    &__body {
        max-width: 811px;
        width: 100%;
        font-weight: 700;
        font-size: 55px;
        line-height: 71px;
    }
}

@media (max-width: 800px) {

    .article-notfound {

        &__in {
            padding: 20px 0;
        }

        &__body {
            font-size: 40px;
            line-height: 52px;
        }
    }
}

@media (max-width: 550px) {
    .article-notfound {

        &__in {

        }

        &__body {

            font-size: 22px;
            line-height: 29px;
        }
    }
}