.articles {


    &__in {
        padding: 0 0 150px 0;
    }

    &__head {
        font-weight: 700;
        font-size: 30px;
        line-height: 30px;
        margin-bottom: 20px;
    }

    &__filter {
        display: flex;
        align-items: center;
        padding: 20px 0;

        &_item {
            margin-right: 25px;
            color: $blue;
            font-size: 16px;
            line-height: 21px;

            position: relative;
            padding-right: 20px;

            &:after {
                position: absolute;
                top: 0;
                right: 0;
                content: url('../img/icons/art-arrow.svg');
            }
            &:last-child {
                margin-right: 0;
            }
        }

        &_item.active {

            &:after {
                transform: rotate(180deg);
            }
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        margin-left: -10px;
        margin-right: -10px;

        &_item {
            width: calc((100% / 4) - 20px);
            margin: 0 10px;
            margin-bottom: 20px;
        }
    }

    
}

@media (max-width: 1000px) {

    .articles {

        &__list {

            &_item {
                width: calc((100% / 2) - 20px);
            }
        }
    }
}


@media (max-width: 650px) {

    .articles {

        &__list {

            &_item {
                width: calc(100% - 20px);
            }
        }
    }
}
