.best {

    &__in {
        padding: 50px 0;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    &__title {
        display: none;
    }

    &__content {
        max-width: 300px;
        width: 100%;

        &_title {
            margin-bottom: 20px;
        }

        &_action {
            display: flex;
            align-items: center;
            justify-content: flex-start;

            a {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 10px;
                border-radius: 5px;
                border: 1px solid $red;
                @include def-anim;
                color: $red;
                font-size: 16px;
                line-height: 21px;

                &:hover {
                    background-color: $red;
                    color: #fff;
                }

                &:active {
                    color: #fff;
                    background-color: $red-active;
                    border-color: $red-active;
                }
            }
        }
    }
    
    &__list {
        display: flex;
        align-items: flex-start; 
        justify-content: space-between;
        width: 100%;
        flex-wrap: wrap;
    }

    &__item {
        
        
    }

    &__item.card {
        width: calc(100% / 3.1);
    }
}

@media (max-width: 1200px) {

    .best {

        &__in {
            flex-wrap: wrap;
        }

        &__title {
            margin-bottom: 40px;
            display: block;

        }

        &__content {
            order: 1;
            width: 100%;
            max-width: unset;

            &_title {
                display: none;
            }

            &_action {
                justify-content: center;
            }

        }

        &__list {

        }

        &__item {
            
        }
    }
}

@media (max-width: 650px) {

    .best {

        &__list {
            flex-wrap: wrap;
        }

        &__item {
            width: 100% !important;
            
        }
    }
}