.best {

    &__in {
        padding: 50px 0;
        
    }

    &__head {
        margin-bottom: 40px;
    }

   
    
    &__list {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        margin-left: -10px;
        margin-right: -10px;
    }

    &__item {
        width: calc((100% / 3) - 20px);
        margin: 0 10px;
        margin-bottom: 20px;
    }
}

@media (max-width: 1000px) {
    .best {

        &__in {

        }

        &__head {

        }

        &__list {

        }

        &__item {
            width: calc((100% / 2) - 20px);
        }
    }
}

@media (max-width: 650px) {

    .best {

        &__in {
            padding: 25px 0;
        }
        
        &__head {
            margin-bottom: 30px;
        }
        &__item {
            width: calc(100% - 20px);
        }
    }
}