.feed {
    

    &__in {
        padding: 40px 0;
    }

    &__body {
        background-color: $purp;
        border-radius: 10px;
        display: flex;
        align-items: flex-end;
        padding-left: 50px;
        // justify-content: space-between;

        &_img {

            img {
                display: flex;
                // max-width: 100%;
                // max-height: 100%;
                // object-fit: contain;
            }
        }

        &_content {
            padding: 75px 100px 75px 60px;
            display: flex;
            align-items: center;
            flex: 1 0 auto;
            justify-content: space-between;

            &_descr {
                max-width: 386px;
                width: 100%;

                &_title {
                    font-weight: 400;
                    font-size: 40px;
                    line-height: 120%;
                    color: #fff;
                    margin-bottom: 10px;
                }

                &_text {
                    font-size: 22px;
                    line-height: 130%;
                    color: #C2A6FF;
                }
            }

            &_form {
                max-width: 310px;
                width: 100%;

                input {
                    background: #F5F5F5;
                    border-radius: 10px;
                    margin-bottom: 10px;
                    padding: 16px 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    font-size: 18px;
                    line-height: 18px;
                }

                button {
                    padding: 16px 0;
                    background: #474747;
                    border-radius: 10px;
                    display: flex; 
                    align-items: center;
                    justify-content: center;
                    color: #fff;
                    cursor: pointer;
                    width: 100%;
                    margin-bottom: 10px;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 18px;
                    @include def-anim;

                    &:hover {
                        background-color: #535353;
                    }
                }

                &_ex {
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 130%;
                    color: #fff;
                    a {
                        color: #C2A6FF;
                    }
                }
            }
        }
    }
}


@media (max-width: 1200px) {

    .feed {

        &__in {

        }

        &__body {
            
            padding-left: 0;
            &_img {
                order: 2;
                transform: scale(-1, 1);
                position: relative;
                flex: 1 0 auto;
                height: 100%;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            &_content {
                padding: 40px 20px;
                order: 1;
                flex-wrap: wrap;
                flex: unset;
                width: 60%;
                &_descr {
                    width: 100%;
                    max-width: unset;
                    margin-bottom: 20px;
                }

                &_form {
                    width: 100%;
                    max-width: unset;
                }
            }
        }
    }
}

@media (max-width: 768px) {

    .feed {

        &__body {   
            flex-wrap: wrap;

            &_content {
                width: 100%;
            }
            &_img {
                width: 100%;
                display: flex;
                justify-content: center;
            }
        }
    }
}

@media (max-width: 650px) {

    .feed {
        .container {
            padding: 0;
        }
        &__in {
            padding: 25px 0;
        }

        &__body {
            border-radius: 0;

            &_content {

                &_descr {

                    &_title {
                        font-size: 25px;
                        line-height: 120%;
                    }

                    &_text {
                        font-size: 18px;
                        line-height: 130%;
                    }
                }

                &_form {

                    input {

                    }

                    button {

                    }

                    &_ex {

                    }
                }
            }
        }
    }
}

