.footer {
    background-color: #212121;

    &__logo {
        background-color: $purp;
        width: 199px;
        height: 70px;
        border-radius: 5px;
        margin-bottom: 15px;
    }
    &__main {
        
        &_in {
            padding: 50px 0 30px 0;
        }

        &_top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            margin-bottom: 27px;

            &_logo {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            &_btn {
                width: 50px;
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 100%;
                border: 1px solid $blue;
                cursor: pointer;
            }
        }

        &_body {
            display: flex;
            justify-content: space-between;

            &_item {
                width: calc(100% / 4.8);

                .item {
                    margin-bottom: 40px;

                    &__text {
                        font-size: 16px;
                        line-height: 130%;
                        color: #fff;
                        margin-bottom: 30px;
                    }

                    &__head {
                        font-weight: 700;
                        font-size: 18px;
                        line-height: 18px;
                        margin-bottom: 20px;
                        color:#fff;
                    }

                    &__list {

                        &_item {
                            display: block;
                            font-size: 16px;
                            line-height: 21px;
                            color: #969696;
                            margin-bottom: 10px;
                            @include def-anim;

                            &:hover {
                                color: $purp;
                            }

                            span {
                                color: $blue;
                            }
                        }
                    }
                }
            }
        }
    }


    &__bot {
        

        &_in {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 20px 0;
            color: #fff;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
        }
    }
}


@media (max-width: 1000px) {

    .footer {

        &__main {
            
            &_in {
                display: flex;
                justify-content: center;
            }

            &_body {
                width: 70%;
                flex-wrap: wrap;

                &_item {
                    &:nth-child(1) {
                        width: 100%;
                    }

                    &:nth-child(2) {
                        width: 100%;
                    }

                    &:nth-child(3) {
                        width: 48%;
                    }

                    &:nth-child(4) {
                        width: 48%;
                    }

                    .item {
                        margin-bottom: 35px;
                    }
                }
            }
            
        }
    }
}

@media (max-width: 650px) {

    .footer {

        &__main {

            &_in {
                padding: 40px 0 10px 0;
            }

            &_body {
                width: 100%;

                &_item {
                    width: 100% !important;
                }
            }
        }
    }
}

