.header {
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);

    &__sr {
        display: none;
    }

    &__in {

    }

    &__top {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    &__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 30px 0;
        width: 100%;
        
    }

    

    &__left {
        display: flex;
        align-items: center;


    }

    &__right {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    &__logo {
        display: flex;
        align-items: flex-start;
        // justify-content: center;
        display: block;
        background-color: $purp;
    }

    &__text {
        padding: 20px 50px 0 20px;
        font-weight: 300;
        font-size: 16px;
        line-height: 130%;
    }

    &__search {
        display: flex;
        flex: 1 0 auto;
        padding: 20px 0 0 0;


        .close {
            display: none;
        }

        input {
            display: block;
            width: 100%;
            border: none;
            border-radius: 5px;
            border-right: none;
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
            padding: 0 20px;
            background: #F5F5F5;
            


            font-weight: 400;
            font-size: 18px;
            line-height: 18px;
            color: #2F2F2F;

            &::placeholder {
                color: #AEAEAE;
            }
        }

        button {
            padding: 15px 20px;
            // width: 91px;

            background-color: $purp;
            border-radius: 0px 5px 5px 0px;
            font-weight: 300;
            font-size: 18px;
            line-height: 18px;
            color: #fff;
            cursor: pointer;
        }
    }

    &__burger {
        display: none;
    }

    &__nav {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &_item.active {

            a {

                &:after {
                    width: 100%;
                }
            }
        }

        &_item {
            padding: 0 15px;
            &:first-child {
                padding-left: 0;
            }
            &:last-child {
                padding-right: 0;
            }
            a {
                display: block;
                font-size: 18px;
                line-height: 18px;
                color: #474747;
                @include def-anim;

                &:hover {
                    color: $purp;
                }
                // position: relative;

                // &:after {
                //     position: absolute;
                //     bottom: 0;
                //     left: 0;
                //     width: 0;
                //     height: 2px;
                //     content: '';
                //     background-color: #FF727A;
                //     @include def-anim;
                // }

                &:hover {

                    &:after {
                        width: 100%;
                    }
                }
            }
        }
    }

    &__link {
        padding: 0 15px;


        &_value {
            font-size: 18px;
            line-height: 18px;
            color: $purp;

        }

    }
}


@media (max-width: 1250px) {

    .header {

        

        &__bottom {
            display: none;
        }
        

        &__top {
            flex-wrap: wrap;
            align-items: center;
        }

        &__left {
            width: 100%;
            margin-bottom: 10px;
        }

        &__right {
            flex: 1 0 auto;
        }

        &__link {

            &:first-child {
                padding-left: 0;
            }
        }

        &__text {
            flex: 1 0 auto;
            padding-top: 0;
        }

        &__burger {
            order: 3;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 40px;
            height: 22px;
            
            
            @include def-anim;
            cursor: pointer;

            span {
                background-color: $text;
                display: block;
                border-radius: 5px;
                margin-bottom: 5px;
                height: 4px;
                width: 100%;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        &__search {
            flex: 1 0 auto;
            padding-right: 0;
            padding-left: 0;
            padding-bottom: 30px;
            width: 100%;
            order: 4;
        }





    }
}

@media (max-width: 650px) {

    .header {
        overflow: hidden;
        border-radius: 0px 0px 10px 10px;

        &__in {
            padding: 0;
            overflow: hidden;
        }

        &__top {
            padding: 0;
            position: relative;
            overflow: hidden;
            flex-wrap: wrap;
        }

        &__text {
            width: 100%;
            order: 4;
            padding: 10px 0;
            text-align: center;
        }

        &__search.active {
            transform: translateY(0);
        }
        
        &__search {
            display: flex;
            position: absolute;
            align-items: center;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #fff;
            padding: 15px 0;
            transform: translateY(-100%);
            will-change: transform;
            @include def-anim;

            input {
                height: 30px;
                border-color: $blue;
                font-size: 16px;
                line-height: 16px;
                padding-left: 10px;
                padding-right: 10px;
            }

            button {
                display: flex;
                align-items: center;
                height: 30px;
                font-size: 16px;
                line-height: 16px;
                justify-content: center;
            }

            .close {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-left: 30px;

            }
        }



        &__right {
            display: none;
        }

        &__left {
            width: auto;
        }

        &__burger {
            order: 1;
        }

        &__left {
            order: 2;
            
        }

        &__logo {
            margin-right: 0;
            width: 146px;
            height: 63px;
            order: 2;
            border-radius: 0px 0px 5px 5px;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        &__sr {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 30px;
            height: 30px;
            border-radius: 5px;
            border: 1px solid $purp;
            order: 1;
        }

        &__burger {
            
            // padding: 7px 13px;
            padding: 0;
            order: 3;

            
        }
        
    }
}