.list {

    &__in {
        display: flex;
        align-items: flex-start;
        padding: 80px 0;
    }

    &__body {
        width: 100%;
        margin-left: 20px;

        &_head {
            margin-bottom: 40px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            &_btn {
                width: 46px;
                height: 30px;
                background-image: url('../img/icons/filter.svg');
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                cursor: pointer;
                display: none;
            
            }
        }

        &_filter {
            display: flex;
            align-items: center;
            margin-bottom: 40px;
            flex-wrap: wrap;

            &_name {
                margin-right: 30px;
                margin-bottom: 15px;
            }

            &_item {
                margin-right: 20px;
                margin-bottom: 15px;
            }
        }

        &_items {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 50px;
            margin-left: -10px;
            margin-right: -10px;

            &_item {
                width: calc((100% / 3) - 20px);
                margin: 0 10px;
                margin-bottom: 20px;
            }
        }

        &_action {
            display: flex;
            align-items: center;
            justify-content: center;

        }
    }
}


@media (max-width: 1000px) {

    .list {

        &__in {
            padding: 50px 0;
        }

        &__body {

            &_head {

                &_btn {
                    display: block;
                }
            }

            margin-left: 0;
            &_items {

                &_item {
                    margin: 0 10px;
                    margin-bottom: 20px;
                    width: calc((100% / 2) - 20px);
                }
            }
        }
    }
}

@media (max-width: 650px) {

    .list {

        &__in {
            padding: 20px 0;
        }

        &__body {

            &_head {

                &_btn {
                    width: 30px;
                    height: 20px;
                }
            }

            &_filter {
                margin-bottom: 30px;

                &_item {
                    width: 100%;
                    justify-content: flex-start;
                }

                &_name {
                    font-size: 18px;
                    line-height: 18px;
                }
            }
        }
    }
}

