.rtg {

    &__in {
        padding-top: 20px;
    }

    &__title {
        margin-bottom: 30px;
    }

    &__body {

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            border-radius: 10px;
        }
    }
}